tgcrypto # enough file uploads/downloads to justify requiring this
aiohttp
wikipedia-api
italian-dictionary
# PyDictionary
udpy
deep-translator
unit-converter
google_currency
cryptocompare
geopy
pyfiglet
pillow
sympy
matplotlib
qrcode
gtts
pydub
SpeechRecognition
zalgo_text
